@media screen and (max-width: 1000px) {

  .menu-toggle {
    display: inline-block;
    background: url(../img/burger-init.png) 0 0;
    background-repeat: no-repeat;
    height: 34px;
    width: 45px;
    padding: 0;
    border-style: none;
    margin: 18px;
  }

  .close
  {
    display: inline-block;
    background: url(../img/burger-close.png) 0 0 !important;
    background-repeat: no-repeat;
    height: 33px;
    width: 39px;
    padding: 0;
    border-style: none;
    margin: 18px;
  }

  .contentBackground {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index:9;
  }

  .burgerMenuContent {
    display:block;
    width: 100%;
    /* height: 100%; */
    position: absolute;
    text-align: center;
    top: 0px;
    margin-top: 70px;
  }

  .burgerMenu
  {
    position: fixed;
    width: 100%;
  }

  .burgerMenu button
  {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    border-style: none;
  }

  .burgerMenu button:hover
  {
    background-color: #9e3429;
    color: #fff;
  }

}


@media screen and (max-height: 636px) {
  .burgerMenu button {
      padding: 61px;
  }
}

@media screen and (max-height: 570px) {
  .burgerMenu button {
      padding: 52px;
  }
}

@media screen and (max-height: 510px) {
  .burgerMenu button {
      padding: 45px;
  }
}

@media screen and (max-height: 460px) {
  .burgerMenu button {
      padding: 39px;
  }
}

@media screen and (max-height: 418px) {
  .burgerMenu button {
      padding: 34px;
  }
}