
@media screen and (max-width: 1680px) and (max-height: 1050px) {
.aboutDesc {
    padding-top: 310px;
}

.aboutContentWrapper {
    width: 90%;
}

}

@media screen and (max-width: 1600px) and (max-height: 900px) {
.aboutDesc {
    padding-top: 250px;
}

.aboutContentWrapper {
    width: 90%;
}

}

@media screen and (max-width: 1440px) and (max-height: 900px) {

.imageAbout {
    background-image: url(../img/aboutus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 100%;
}

.aboutDesc {
    display: inline-block;
    height: 100%;
    padding-top: 205px;
    width: calc(100% - 650px);
}

.aboutContentWrapper {
    display: table;
    width: 95%;
    margin: 0 auto;
    height: 400px;
}

.map {
    width: 600px;
    height: calc(100% - 50px);
}

.contactDesc {
    display: inline-block;
    height: 100%;
    padding-top: 170px;
    width: calc(100% - 600px);
}

.contactDesc .description .items {
    width: 624px;
    height: 245px;
    margin: 28px auto;
}

.contactDesc .description .items .child-item
{
    display: none;
}

.contactDesc .description .items .child-item2
{
    float: left;
    display: inline-block;
    width: 187px;
    margin: 0 10px;
}

.contactDesc .description .items .child-item2 div
{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 2px;
    border-color: #9e3429;
    display: block;
    margin: 40px auto;
    border-radius: 50%;
}
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
.logoDiv {
    width: 580px;
    height: 345px;
    background-color: rgba(255,255,255,0.5);
    display: inline-block;
    margin: 275px auto;
    border-style: solid;
    border-width: 3px;
    padding: 41px;
}

.imageAbout {
    background-image: url(../img/aboutus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 100%;
}

.aboutDesc {
    display: inline-block;
    height: 100%;
    padding-top: 205px;
    width: calc(100% - 650px);
}

.aboutContentWrapper {
    display: table;
    width: 95%;
    margin: 0 auto;
    height: 400px;
}

.map {
    width: 600px;
    height: calc(100% - 50px);
}

.contactDesc {
    display: inline-block;
    height: 100%;
    padding-top: 170px;
    width: calc(100% - 600px);
}

.contactDesc .description .items {
    width: 624px;
    height: 245px;
    margin: 28px auto;
}

.contactDesc .description .items .child-item
{
    display: none;
}

.contactDesc .description .items .child-item2
{
    float: left;
    display: inline-block;
    width: 187px;
    margin: 0 10px;
}

.contactDesc .description .items .child-item2 div
{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 2px;
    border-color: #9e3429;
    display: block;
    margin: 40px auto;
    border-radius: 50%;
}
}

@media screen and (max-width: 1280px) and (max-height: 800px) {
.logoDiv {
    margin: 240px auto;
}

.imageAbout {
    background-image: url(../img/aboutus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 100%;
}

.aboutDesc {
    display: inline-block;
    height: 100%;
    padding-top: 205px;
    width: calc(100% - 650px);
}

.aboutContentWrapper {
    display: table;
    width: 95%;
    margin: 0 auto;
    height: 400px;
}

.map {
    width: 600px;
    height: calc(100% - 50px);
}

.contactDesc {
    display: inline-block;
    height: 100%;
    padding-top: 170px;
    width: calc(100% - 600px);
}

.contactDesc .description .items {
    width: 624px;
    height: 245px;
    margin: 28px auto;
}

.contactDesc .description .items .child-item
{
    display: none;
}

.contactDesc .description .items .child-item2
{
    float: left;
    display: inline-block;
    width: 187px;
    margin: 0 10px;
}

.contactDesc .description .items .child-item2 div
{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 2px;
    border-color: #9e3429;
    display: block;
    margin: 40px auto;
    border-radius: 50%;
}

}

@media screen and (max-width: 1024px) and (max-height: 768px) {

.headWrapper {
    height: 100%;
    padding: 0px 35px;
}

.logoDiv {
    width: 565px;
    height: 340px;
    background-color: rgba(255,255,255,0.5);
    display: inline-block;
    margin: 240px auto;
    border-style: solid;
    border-width: 3px;
    padding: 41px;
}

.imageAbout {
    background-image: url(../img/aboutus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -88px 0;
    width: 400px;
    height: 100%;
}

.aboutDesc {
    display: inline-block;
    height: 100%;
    padding-top: 150px;
    width: calc(100% - 400px);
}

.aboutContentWrapper {
    display: table;
    width: 95%;
    margin: 0 auto;
    height: 400px;
}

.slide.fp-slide img {
    width: 100%;
    height: 100%;
}

.map {
    width: 400px;
    height: calc(100% - 50px);
}

.contactDesc {
    display: inline-block;
    height: 100%;
    padding-top: 160px;
    width: calc(100% - 400px);
}

.contactDesc .description .items {
    width: 624px;
    height: 245px;
    margin: 28px auto;
}

.contactDesc .description .items .child-item
{
    display: none;
}

.contactDesc .description .items .child-item2
{
    float: left;
    display: inline-block;
    width: 187px;
    margin: 0 10px;
}

.contactDesc .description .items .child-item2 div
{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 2px;
    border-color: #9e3429;
    display: block;
    margin: 40px auto;
    border-radius: 50%;
}


}

@media screen and (max-width: 1024px) and (max-height: 600px) {

  .headWrapper {
      height: 100%;
      padding: 0px 50px;
  }

  .logoDiv {
      width: 540px;
      height: 335px;
      background-color: rgba(255,255,255,0.5);
      display: inline-block;
      margin: 170px auto;
      border-style: solid;
      border-width: 1px;
      padding: 36px;
  }

  .aboutDesc {
    display: inline-block;
    height: 100%;
    padding-top: 100px;
    width: calc(100% - 400px);
  }

  .imageAbout {
    background-image: url(../img/aboutus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -88px 0px;
    width: 400px;
    height: 100%;
  }

.aboutContentWrapper {
    display: table;
    height: 290px;
    margin: 0 auto;
    width: 90%;
}

.map {
    width: 400px;
    height: calc(100% - 50px);
}

.contactDesc {
    display: inline-block;
    height: 100%;
    padding-top: 100px;
    width: calc(100% - 400px);
}

.contactDesc .description .items {
    width: 624px;
    height: 245px;
    margin: 28px auto;
}

.contactDesc .description .items .child-item
{
    display: none;
}

.contactDesc .description .items .child-item2
{
    float: left;
    display: inline-block;
    width: 187px;
    margin: 0 10px;
}

.contactDesc .description .items .child-item2 div
{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 2px;
    border-color: #9e3429;
    display: block;
    margin: 40px auto;
    border-radius: 50%;
}

}


@media screen and (max-width: 600px) and (max-height: 1024px) {

header .navi
  {
    display: none;
  }

.headWrapper {
    height: 100%;
    padding: 0px 25px;
}

  .burger
  {
    display: inline-block;
    padding: 0;
    height: 100%;
    margin: auto;
  }

  .logoDiv
  {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    display: inline-block;
    margin: 0 auto;
    padding: 345px 50px;
  }

  .imageAbout {
    display: none;
}

#section1 {
    background-image: url(../img/aboutus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -167px 0;
}

.aboutDesc {
    width: 100%;
}

.aboutWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: #fff; */
    background-color: rgba(255,255,255,0.8);
}

.slide.fp-slide img {
    width: 100%;
    height: auto;
    padding-top: 320px;
}

.map {
    width: 600px;
    height: 500px;
}

.contactDesc {
    display: inline-block;
    height: 100%;
    padding-top: 40px;
    /* width: calc(100% - 700px); */
}

.contactDesc .description .items {
    width: 623px;
    height: 245px;
    margin: 9px auto;
}

.contactDesc .description .items .child-item
{
    display: none;
}

.contactDesc .description .items .child-item2
{
    float: left;
    display: inline-block;
    width: 187px;
    margin: 0 10px;
}

.contactDesc .description .items .child-item2 div
{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 2px;
    border-color: #9e3429;
    display: block;
    margin: 40px auto;
    border-radius: 50%;
}

.description {
    position: absolute;
    left: 0px;
    bottom: 110px;
}

.contactDesc .description .items .child-item2 {
    float: left;
    display: inline-block;
    width: 181px;
    margin: 0px 9px;
}

}


@media screen and (max-width: 768px) and (max-height: 1024px) {

header .navi
  {
    display: none;
  }

.headWrapper {
    height: 100%;
    padding: 0px 25px;
}

  .burger
  {
    display: inline-block;
    padding: 0;
    height: 100%;
    margin: auto;
  }

  .logoDiv
  {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    display: inline-block;
    margin: 0 auto;
    padding: 345px 50px;
  }

  .imageAbout {
    display: none;
}

#section1 {
    background-image: url(../img/aboutus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0;
}

.aboutDesc {
    width: 100%;
}

.aboutWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: #fff; */
    background-color: rgba(255,255,255,0.8);
}

.slide.fp-slide img {
    width: 100%;
    height: auto;
    padding-top: 320px;
}

.map {
    width: 768px;
    height: 500px;
}

.contactDesc {
    display: inline-block;
    height: 100%;
    padding-top: 40px;
    /* width: calc(100% - 700px); */
}

.contactDesc .description .items {
    width: 768px;
    height: 245px;
    margin: 9px auto;
}

.contactDesc .description .items .child-item
{
    display: none;
}

.contactDesc .description .items .child-item2
{
    float: left;
    display: inline-block;
    width: 187px;
    margin: 0 20px;
}

.contactDesc .description .items .child-item2 div
{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 2px;
    border-color: #9e3429;
    display: block;
    margin: 40px auto;
    border-radius: 50%;
}

.description {
    position: absolute;
    bottom: 110px;
    left: 50px;
}

.contactDesc .description .items .child-item2 {
    float: left;
    display: inline-block;
    width: 181px;
    margin: 0px 9px;
}

}


/*
@media screen and (max-width: 1000px) {

  header .navi
  {
    display: none;
  }

  .headWrapper
  {
      height: 100%;
      padding: 0px 50px;
  }

  .burger
  {
    display: inline-block;
    padding: 0;
    height: 100%;
    margin: auto;
  }

  .logoDiv
  {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    display: inline-block;
    margin: 0 auto;
    padding: 200px 50px;
  }

}

@media screen and (max-width: 700px) {

  header .navi
  {
    display: none;
  }

  .headWrapper
  {
      height: 100%;
      padding: 0px;
  }

   header .logo
  {
    display:none;
  }

  .burger
  {
    display: inline-block;
    padding: 0;
    height: 100%;
    margin: auto;
  }

  .logoDiv
  {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    display: inline-block;
    margin: 0 auto;
    padding: 200px 50px;
    border-style: none;
  }
  


}


*/