/*************** GLOBAL ***************/
body
{
  background-color: #000;
}

/*************** HEADER ***************/
header {
  height: 70px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  box-shadow: 0px 0px 10px #000;
}

.headWrapper
{
    height: 100%;
    padding: 0px 120px;
}

.logo, .navi, .navi button
{
  display: inline-block;
}

.logo
{
  height: 100%;
}

.navi, .navi button
{
  height: 100%;
}

.naviBtnDiv
{
  padding: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}

.burger
{
  display: none;
}

.contentBackground
{
  display: none;
}

/* HEADER: navigation button */
.navi button{
  display:block;
  float:left;
  background: none;
  color:#000;
  border:none;
  position:relative;
  height:70px;
  font-size: 18px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

.navi .naviBtnDiv .active
{
  background:#9e3429;
  color:#fff;
}

.navi button:hover{
  background:#9e3429;
  color:#fff;
}

.navi button:before,.navi button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:10px;
  width:0;
  background: #5c0f0f;
  transition:400ms ease all;
  z-index: 10;
}

#video-bg {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
  z-index: -10;
}
#video-bg > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
  #video-bg > video { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  #video-bg > video { width: 300%; left: -100%; }
}
/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
  #video-bg > video {
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }
}


.content{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

/* Section 1 - HOME 
 * --------------------------------------- */
 #section0 .content {
    width: 100%;
    height: 100%;
}
#section0{
  background-color: #FFF;
}
#section0 h1{
  color: #444;
}

#section0 p{
  color: #fff;
  font-size: 18px;
}

.homeContent
{
  height:100%;
  display: inline-block;
}

.logoDiv
{
    width: 640px;
    height: 385px;
    background-color: rgba(255,255,255,0.5);
    display: inline-block;
    margin: 275px auto;
    border-style: solid;
    border-width: 3px;
    padding: 70px;
}

.contentDivider
{
    background-color: #000;
    border: 0;
    height: 1px;
    margin: 15px auto;
}

#section0 p {
  color: #000;
}


/* Section 2 - ABOUT US
 * --------------------------------------- */
 #section1 .content {
    width: 100%;
    height: 100%;
}

#section1{
  background-color: #fff;
}
#section1 h1{
  color: #fff;
}

#section1 p
{
  font-size: 30px;
  font-weight: bold;
}

#section1 .aboutContent .about-item p
{
  font-size: 20px !important;
  font-weight: lighter;
}

.aboutWrapper
{
  position: absolute;
  height: 100%;
  width: 100%;
}

.aboutDesc
{
  display: inline-block;
  height: 100%;
  padding-top: 250px;
  width: calc(100% - 700px);
}

.imageAbout
{
  background-image: url(../img/aboutus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0;
  width: 700px;
  height: 100%;
}

.contentTitle
{
  display: inline-block;
}

.aboutContentWrapper
{
  display:table;
  width: calc(100% - 500px);
  height: 290px;
  margin: 0 auto;
}

.aboutContent
{
    display: table-cell;
    vertical-align: middle;
}

.aboutContent .about-item
{
  display: none;
}

.aboutContent .about-item.active
{
  display: block;
  margin: 0 auto;
}

.aboutPagination .page {
    height: 15px;
    width: 15px;
    background-color: #616161;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
}

.aboutPagination .page.active
{
  background-color: #9e3429;
}

/* Section 3 - EVENTS
 * --------------------------------------- */
 #section2 .content {
    width: 100%;
    height: 100%;
}

#section2{
  background-color: #FFF;
}
#section2 h1{
  color: #F2F2F2;
}

.slide.fp-slide, .slide.fp-slide .content
{
  width: 100%;
  height: 100%;
}

.slide.fp-slide img
{
  width: 100%;
  height: auto;
}

.eventContent:hover
{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

/* Section 4 - CONTACT
 * --------------------------------------- */
 #section3 .content {
    width: 100%;
    height: 100%;
}

#section3{
  background-color: #fff;
}

#section3 p{
  font-size: 30px;
  font-weight: bold;
} 

.map
{
  width: 700px;
  height: calc(100% - 50px);
}

.contactWrapper
{
  position: absolute;
  height: 100%;
  width: 100%;
}

.contactDesc
{
  display: inline-block;
  height: 100%;
  padding-top: 180px;
  width: calc(100% - 700px);
}

#cfapSiteMap img
{
  max-width: none;
}

.contactDesc .description .items
{
    width: 756px;
    height: 245px;
    margin: 50px auto;
}

.contactDesc .description .items .child-item
{
    float: left;
    display: inline-block;
    width: 232px;
    margin: 0 10px;
}

.contactDesc .description .items .child-item2
{
    display: none;
}

.contactDesc .description .items .child-item div
{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    border-color: #9e3429;
    display: block;
    margin: 40px auto;
    border-radius: 50%;
}

.contact-item
{
  padding: 55px 0;
  color: #9e3429;
}

/*************** FOOTER ***************/
footer
{
  height: 50px;
  width: 100%;
  background-color: #9e3429;
  position: absolute;
  bottom:0;
  z-index: 999;
  padding: 5px;
}

footer p
{
  font-size: 12px !important;
  margin: 0 auto !important;
  color: #fff;
  font-weight: lighter !important;
}

footer a
{
  color: #ffba00 !important;
}

footer a:hover
{
  color: #fff !important;
  font-weight: bold !important;
}